<div
  class="readonly-grid"
>
  <button class="sky-btn sky-btn-primary" (click)="changeRowDeleteIds()">Change Row Deletes</button>
  <sky-ag-grid-wrapper
    skyAgGridRowDelete
    [(rowDeleteIds)]="gridOptions.context.rowDeleteIds"
    (rowDeleteConfirm)="deleteConfirm($event)"
  >
    <ag-grid-angular
      [gridOptions]="gridOptions"
      [rowData]="gridData"
      skyBackToTop
    >
    </ag-grid-angular>
  </sky-ag-grid-wrapper>
  <sky-infinite-scroll
    [enabled]="hasMore"
    (scrollEnd)="onScrollEnd()"
  >
  </sky-infinite-scroll>
</div>
