<div
  [style.width.px]="columnWidth"
  [style.height.px]="rowHeight"
  class="sky-cell-editor-datepicker"
>
  <sky-datepicker
    (keydown)="onDatepickerKeydown($event)"
  >
    <input
      #skyCellEditorDatepickerInput
      skyDatepickerInput
      [(ngModel)]="currentDate"
      (ngModelChange)="focusOnDatepickerInput()"
      [minDate]="minDate"
      [maxDate]="maxDate"
      [disabled]="disabled"
      [dateFormat]="dateFormat"
      [startingDay]="startingDay"
    />
  </sky-datepicker>
</div>
